# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints (if you use notebooks later)
.ipynb_checkpoints

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Plot images (optional if generated locally)
*.png
*.jpg

# Environment config files (if any)
.env
